// variables colors .........
$primary-white-color: #ffffff;
$secondary-color: #333;
$blackish-color: #0B0D17;
$tertiary-color: #fff;
$quaternary-color: #D0D6F9;
$hover-rec-color: rgb(135, 135, 135);

// fonts vars....
$barlow-font: "Barlow", sans-serif;
$barlow-Condensed-font: "Barlow Condensed", sans-serif;
$bellefair-font: "Bellefair", serif;